/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* Typography */

.app-header h1 {
  font-size: 54px;
  font-weight: 600;
  margin: 0 0 2rem;
}

.subtitle {
  margin: 0;
  color: #a0aec0;
  font-size: 21px;
  margin-bottom: 3rem;
}

p.error {
  font-size: 14px;
  height: 16px;
}

/* Layout */

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #2d3748;
  background-image: url('./images/reddit-logo.png');
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  padding: 3rem 2rem;
}

.app-section {
  padding: 5rem 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2rem;
}

footer {
  background: #2d3748;
  color: #a0aec0;
  text-align: center;
  padding: 1rem;
  font-size: 14px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

/* Form */
form {
  width: 100%;
  max-width: 700px;
  border: none;
  background: none;
  height: 140px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

select.reddit-select {
  height: 70px;
  width: 120px;
  font-size: 16px;
  background: #edf2f7;
  outline: #edf2f7 solid thick;
  outline-offset: -7px;
  -webkit-border-radius: 0px !important;
}

input.reddit-input {
  height: 70px;
  width: calc(100% - 120px);
  background: #fff;
  border: 2px solid #edf2f7;
  font-size: 16px;
  padding: 0 2rem;
}

input.reddit-input:focus {
  outline: none;
  border-color: #a0aec0;
}

.submit-button {
  height: 70px;
  min-width: 200px;
  width: 100%;
  background: #1a202c;
  border: 2px solid #1a202c;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.submit-button:hover {
  background: #4a5568;
  border-color: #4a5568;
}

.submit-button:disabled {
  cursor: not-allowed;
  background: #1a202c;
  border: 2px solid #1a202c;
}

@media (min-width: 981px) {
  form {
    height: 70px;
  }
  input.reddit-input {
    width: calc(66% - 120px);
  }
  .submit-button {
    width: 33.3%;
  }
}
