/* Typography */

.app-header h1 {
  font-size: 54px;
  font-weight: 600;
  margin: 0 0 2rem;
}

.subtitle {
  margin: 0;
  color: #a0aec0;
  font-size: 21px;
  margin-bottom: 3rem;
}

/* Layout */

.app-header {
  background-color: #2d3748;
  background-image: url('/images/reddit-logo.png');
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem 0;
}

.app-section {
  padding: 5rem 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form */
form {
  width: 700px;
  border: none;
  background: none;
}

input.subreddit-input {
  height: 70px;
  width: 66.6%;
  background: #fff;
  border: 2px solid #edf2f7;
  font-size: 16px;
  padding: 0 2rem;
}

input.subreddit-input:focus {
  outline: none;
  border-color: #a0aec0;
}

.submit-button {
  height: 70px;
  min-width: 200px;
  width: 33.3%;
  background: #4a5568;
  border: 2px solid #4a5568;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}

.submit-button:hover {
  background: #1a202c;
  border-color: #1a202c;
}

@media (min-width: 981px) {
}
